---
import {
  MdOutlineAnalytics,
  MdOutlineMoreHoriz,
  MdOutlineSettings,
  MdOutlineLogout,
  MdNotificationsNone,
} from "react-icons/md";

import { TbSearch, TbBrandNextjs } from "react-icons/tb";
import { AiOutlineHome } from "react-icons/ai";
import { IoMdHeartEmpty } from "react-icons/io";
import SidebarDisclosure from "./SidebarDisclosure";
import Test from "./test";
---

<div>
  <SidebarDisclosure />
</div>
