---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../config";
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/markdown.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main>
      <Content>
        <h1 class="text-3xl my-1 font-mplus">{title}</h1>
        <div class="markdown" itemprop="text">
          <slot />
        </div>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
